.movie-list {
    display: flex;
    flex-direction: row;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 100px;
    padding: 40px 0;
    background-color: #121212;
}