.App {
  text-align: center;
  background-color: #121212;
  max-width: 100vw;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px;
  width: 100%;
}

.top-section {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: black;
}

@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }
}